version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: real_estate_postgres
    environment:
      POSTGRES_DB: real_estate
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c 'max_connections=200'

volumes:
  postgres_data: